<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>姓名案例_计算属性实现</title>
		<!-- 引入Vue -->
		<script type="text/javascript" src="../js/vue.js"></script>
	</head>
	<body>
		<!-- 
			计算属性：
					1.定义：要用的属性不存在，要通过已有属性计算得来。
					2.原理：底层借助了Objcet.defineproperty方法提供的getter和setter。
					3.get函数什么时候执行？
								(1).初次读取时会执行一次。
								(2).当依赖的数据发生改变时会被再次调用。
					4.优势：与methods实现相比，内部有缓存机制（复用），效率更高，调试方便。
					5.备注：
							1.计算属性最终会出现在vm上，直接读取使用即可。
							2.如果计算属性要被修改，那必须写set函数去响应修改，且set中要引起计算时依赖的数据发生改变。
					@chen: # 1 computed 有缓存作用，而methods没有		
		 -->
		<!-- 准备好一个容器-->
		<div id="root">
			姓名：<input type="text" v-model="name" /><br/><br/>
			爱好：<input type="text" v-model="like" /><br/><br/>
			显示： <span id="">{{all}}</span><br/><br/>
			调用set： <span @click="change">调用setter</span>	
				
			
			
		</div>
	</body>

	<script type="text/javascript">
		Vue.config.productionTip = false //阻止 vue 在启动时生成生产提示。

		const vm = new Vue({
			el:'#root',
			data:{
				name: '邓宾',
				like: '篮球'
			},
			methods: {
				change() {
					this.all =  "黎黎 : 电影"
				}
 			},
			computed:{
				all: {
					get() {
						return this.name + ' : ' + this.like
					},
					set(val) {
						const arr = val.split(':')
						this.name = arr[0],
						this.like = arr[1]
					}
				}
			}
		})
	</script>
</html>